<!DOCTYPE html>
<html>
<head>
    {% include 'reuseable_components/head_tag_information.html' %}
    <title>Login Success</title>
<style>
.login-txt{ 
            text-align: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
</style>
</head>
<body>
    {% include 'reuseable_components/navigation_bar.html' %}
	<img style="background-position:center; position:relative; background-repeat: no-repeat; background-size: cover;" src="{{ url_for('static', filename='images/log8.jpg') }}">
    <div class="login-txt">
        <div class="col-md">
            <br>
            <h1>Login Success</h1>
            <p>The button below will take you to the homepage. </p>
            <a href="/">
                <button class="btn btn-lg btn-primary">Go</button>
            </a>
        </div>
    </div>
</body>
</html>
