<!DOCTYPE html>
<html>
<head>
    {% include 'reuseable_components/head_tag_information.html' %}
    <title>Login</title>
</head>
<body>
    {% include 'reuseable_components/navigation_bar.html' %}
    <div class="container col-7 text-center">
        <div class="col-md">
            <br>
            <h1>Login Success</h1>
            <p>The button below will take you to the homepage. </p>
            <a href="/">
                <button class="btn btn-lg btn-primary">Go</button>
            </a>
        </div>
    </div>
</body>
</html>
