<!DOCTYPE html>
<html>
<head>
    {% include 'reuseable_components/head_tag_information.html' %}
    <title>Login</title>
</head>
<body>
    {% include 'reuseable_components/navigation_bar.html' %}
    <h1>Login</h1>
    <form action="/login" method="POST">
        <p>Username:</p>
        <input type="text" name="username-input">
        <p>Password: </p>
        <input type="password" name="password-input">
        <br><br>
        <input type="submit">
    </form>
    <br>
    <br>
    <p><a href="/new_user">Sign up</a></p>
	<p><a href="/forgot_password"> Forgot password? </a></p>
</body>
</html>