<!DOCTYPE html>
<html>
<head>
    {% include 'reuseable_components/head_tag_information.html' %}
    <title>Login</title>
</head>
<body>
    {% include 'reuseable_components/navigation_bar.html' %}
    <div class="container col-3 text-center">
        <div class="col-md">
            <br>
            <h1>Login</h1>
            <br>
            <form class="form-signin" action="/login" method="POST">
                <div class="form-label-group">
                    <input class="form-control" type="text" name="username-input" placeholder="Username">
                </div>
                <br>
                <div class="form-label-group">
                    <input class="form-control" type="password" name="password-input" placeholder="Password">
                </div>
                <br>
                <input class="btn btn-lg btn-primary" type="submit">
            </form>
            <br>
            <p><a href="/new_user">Sign up</a></p>
<!--            <p><a href="/forgot_password"> Forgot password? </a></p>-->
        </div>
    </div>
</body>
</html>