<!DOCTYPE html>
<html>
<head>
    {% include 'reuseable_components/head_tag_information.html' %}
    <title>Login</title>
</head>
<body>
    {% include 'reuseable_components/navigation_bar.html' %}
    <div class="container col-7 text-center">
        <div class="col-md">
            <br>
            <h1>Login Failed</h1>
            <p>{{error}}</p>
            <a href="/login">
                <button class="btn btn-lg btn-primary">Try Again</button>
            </a>
        </div>
    </div>
</body>
</html>
</body>
</html>