<!DOCTYPE html>
<html>
<head>
    {% include 'reuseable_components/head_tag_information.html' %}
    <title>Login</title>
</head>
<body>
    {% include 'reuseable_components/navigation_bar.html' %}
    <div class="container col-5 text-center">
        <div class="col-md">
			<br>
		    <h1>New User</h1>
			<form action="/new_user" method="POST">
				<br>
				<div class="form-label-group">
                    <input class="form-control" type="text" name="id-input" placeholder="Employee ID">
                </div>
				<br>
				<div class="form-label-group">
                    <input class="form-control" type="text" name="username-input" placeholder="Username">
                </div>
				<br>
				<div class="form-label-group">
                    <input class="form-control" type="text" name="email-input" placeholder="Email">
                </div>
				<br>
				<div class="form-label-group">
					<input class="form-control" type="text" name="first-name-input" placeholder="First Name">
				</div>
				<br>
				<div class="form-label-group">
					<input class="form-control" type="text" name="last-name-input" placeholder="Last Name">
				</div>
				<br>
				<div class="form-label-group">
                    <input class="form-control" type="password" name="password-input" placeholder="Password">
				</div>
				<br>
				<div class="form-label-group">
					<input class="form-control" type="password" name="admin-input" placeholder="Input manager's code for admin features">
				</div>
				<br>
				<div class="form-label-group">
                    <input class="form-control" type="text" name="location-input" placeholder="Location">
                </div>
				<br>
				<input class="btn btn-lg btn-primary" type="submit" value="Sign up">
				<br>
			</form>
		</div>
	</div>
</body>
</html>