<!DOCTYPE html>
<html>
<head>
    {% include 'reusable_components/head_tag_information.html' %}
    <title>About</title>
</head>
<body>
    {% include 'reusable_components/navigation_bar.html' %}
    <div class="container">
        <br>
        <h1>About Us</h1>
        <p>
            Welcome to our page! We are Water Wheel, a small company based in Fullerton, California. Our goal is to make a well designed database to help you, the user. We'd love it if you were to submit any feedback (good or bad) at davidhuang@waterwheelcompany.com.
        </p>
        <img src="{{ url_for('static', filename='images/wwlogo1.png') }}" alt="Water Wheel" width="250px;" height="250px;">
    </div>
</body>
</html>
