<!DOCTYPE html>
<html>
<head>
    {% include 'reuseable_components/head_tag_information.html' %}
    <title>Overview</title>
</head>
<body>
    {% include 'reuseable_components/navigation_bar.html' %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Water Wheels</h1>
            <p>
                An inventory management tracking system that focuses on productivity, transparency, and security.
            </p>
        </div>
    </div>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-4">
                <h4>Productivity</h4>
                <p>
                    The product systems allows the user to create, delete, and update
                    items in the database. The list of items are also displayed within
                    the same page. Filling out the forms will generate the product.
                </p>
                <p>
                    Along with the database, there is a graph that displays which products are in stock in
                    ascending order of what is in stock. This allows the user to visualize the data to quickly
                    find which products are low in stock.
                </p>
                <p>
                    A page that displays a calendar of events. The calendar is able to show
                    different events across multiple years while having the capability of
                    adding new ones.
                </p>
            </div>
            <div class="col-md-4">
                <h4>Transparency</h4>
                <p>
                    Actions a user takes within the database and admin features will be recorded
                    for reference.
                </p>
                <p>
                    With a registered employee ID, a user can input their ID to clock-in
                    and clock-out. There is a table that displays when the user clocked-in
                    and clocked-out along with their name and employee ID.
                </p>
            </div>
            <div class="col-md-4">
              <h4>Security</h4>
                <p>
                    A page that requires admin access to see the user database. A user
                    can register for admin access by using an admin code. The admin feature restricts
                    users from deleting users and other important data.
                </p>
            </div>
        </div>
    </div>
</body>
</html>