<!DOCTYPE html>
<html>
<head>
    {% include 'reuseable_components/head_tag_information.html' %}
    <title>Overview</title>
<style>
.img-txt { 
            text-align:left; 
			position: absolute;
            top: 20%;
			left: 9.5%;
            color: white; 
		}
</style>
</head>
<body>
    {% include 'reuseable_components/navigation_bar.html' %}
	<img style="background-position:center; position:relative; background-repeat: no-repeat; background-size: cover;" src="{{ url_for('static', filename='images/home3.jpg') }}">
        <div class="img-txt">
                <h1 class="display-3">Water Wheels</h1>
                <p>
                    An inventory management tracking system focused on productivity, transparency, and security.
                </p>
        </div>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-4">
                <h4>Productivity</h4>
                <p>
                    Create, delete, and update
                    items with ease. Items are displayed within
                    a table for quick, accessible viewing.
                </p>
                <p>
                    See which products are in stock
                    at a glance with highlighted low-stock items.
					Visualize current inventory data with the power of
                    our graphical stock display.
                </p>
                <p>
                    Keep your schedule on track with our built-in calendar and timekeeping systems. Show
                    upcoming events and important dates for your company and log your hours with the press of a button.
                </p>
				<p>
					Need help? Find a short tutorial under the About tab.
				</p>
            </div>
            <div class="col-md-4">
                <h4>Transparency</h4>
                <p>
                    Actions taken within the database and admin features are recorded
                    to prevent unauthorized access and keep your company's data safe.
                </p>
                <p>
                    With a registered employee ID, users can input their ID to clock in
                    and clock out. A table displays when users have clocked in
                    and out along with their name and employee ID.
                </p>
            </div>
            <div class="col-md-4">
              <h4>Security</h4>
                <p>
                    Management of critical data such as user accounts is locked behind specialized admin accounts.
					These require a special access code to be utilized, restricting these functions.
                </p>
            </div>
        </div>
    </div>
</body>
</html>