<!DOCTYPE html>
<html>
<head>
    {% include 'reuseable_components/head_tag_information.html' %}
    <title>Login</title>
</head>
<body>
    {% include 'reuseable_components/navigation_bar.html' %}
<div class="content">
    <h1 style="text-align: center">Items</h1>
    {% if products|length < 1 %}
    <h4 style="text-align: center">There are no items. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Quantity</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.manufacturer }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                    <a href="/manage/delete/{{product.id}}">Delete</a>
                    <br>
                    <a href="/manage/update/{{product.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form action="/manage" method="POST">
        <p>ID</p>
        <input type="text" name="id-input">
        <p>Name of Product</p>
        <input type="text" name="name-input">
        <p>Name of Manufacturer</p>
        <input type="text" name="manufacturer-input">
        <p>Quantity</p>
        <input type="text" name="quantity-input">
        <br>
        <br>
        <input type="submit" value="Add Item">
    </form>
</div>
</body>
</html>