<!DOCTYPE html>
<html>
<head>
    {% include 'reuseable_components/head_tag_information.html' %}
    <title>Login</title>
</head>
<body>
    {% include 'reuseable_components/navigation_bar.html' %}
    <div class="container">
        <br>
        <form action="/manage" method="POST">
            <h3>Add Product</h3>
            <br>
            <div class="form-label-group">
                <input class="form-control" type="text" name="id-input" placeholder="ID of Product">
            </div>
            <br>
            <div class="form-label-group">
                <input class="form-control" type="text" name="name-input" placeholder="Name of Product">
            </div>
            <br>
            <div class="form-label-group">
                <input class="form-control" type="text" name="manufacturer-input" placeholder="Name of Manufacturer">
            </div>
            <br>
            <div class="form-label-group">
                <input class="form-control" type="text" name="quantity-input" placeholder="Quantity">
            </div>
            <br>
            <input class="btn btn-lg btn-primary" type="submit" value="Add Item">
        </form>
        <div class="content text-center">
            <br>
            <h2>Product Table</h2>
            {% if products|length < 1 %}
            <h4 style="text-align: center">There are no items. Create one above!</h4>
            {% else %}
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Manufacturer</th>
                    <th>Quantity</th>
                    <th>Manage</th>
                </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.manufacturer }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>
                            <a href="/manage/delete/{{product.id}}">Delete</a>
                            <br>
                            <a href="/manage/update/{{product.id}}">Update</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</body>
</html>