<!DOCTYPE html>
<html>
<head>
    {% include 'reuseable_components/head_tag_information.html' %}
    <title>Login</title>
</head>
<body>
    {% include 'reuseable_components/navigation_bar.html' %}
    <div class="content">
        <h1>Update Product</h1>
        <form action="/update/{{product.id}}" method="POST">
            <p>ID</p>
            <input type="text" name="id-input" value="{{product.id}}">
            <p>Name of Product</p>
            <input type="text" name="name-input" value="{{product.name}}">
            <p>Name of Manufacturer</p>
            <input type="text" name="manufacturer-input" value="{{product.manufacturer}}">
            <p>Quantity</p>
            <input type="text" name="quantity-input" value="{{product.quantity}}">
            <br>
            <br>
            <input type="submit" value="Update">
        </form>
    </div>
</body>
</html>
