<!DOCTYPE html>
<html>
<head>
    {% include 'reusable_components/head_tag_information.html' %}
    <title>Login</title>
</head>
<body>
    {% include 'reusable_components/navigation_bar.html' %}
    <div class="container col-5 text-center">
        <br>
        <div class="col-md">
            <h1>Update Product</h1>
            <form action="/update/{{product.id}}" method="POST">
                <br>
                <div class="form-label-group">
                    <input class="form-control" type="text" name="id-input" placeholder="Product ID">
                </div>
                <br>
                <div class="form-label-group">
                    <input class="form-control" type="text" name="name-input" placeholder="Name of Product">
                </div>
                <br>
                <div class="form-label-group">
                    <input class="form-control" type="text" name="manufacturer-input" placeholder="Name of Manufacturer">
                </div>
                <br>
                <div class="form-label-group">
                    <input class="form-control" type="text" name="quantity-input" placeholder="Quantity">
                </div>
                <br>
                <div class="form-group">
                    <select class="form-control" name="category-input">
                        <option disabled selected value>Select a category</option>
                        <option value="Food">Food</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Apparel">Apparel</option>
                        <option value="Supplies">House Supplies</option>
                    </select>
                </div>
                <br>
                <input class="btn btn-lg btn-primary" type="submit" value="Update">
            </form>
        </div>
    </div>
</body>
</html>
