<!DOCTYPE html>
<html>
<head>
    {% include 'reuseable_components/head_tag_information.html' %}
    <title>Update</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="/" class="nav-item text-white" style="padding:5px 15px 5px 15px;">Home</a>
        {% if session.get('user_id') %}
            <a href="/manage" class="nav-item text-white" style="padding:5px 15px 5px 15px;">Database</a>
            <a href="/graphs" class="nav-item text-white" style="padding:5px 15px 5px 15px;">Graphs</a>
            {% if session.get('in_work') %}
                <a href="/time" class="nav-item text-white" style="padding:5px 15px 5px 15px;">Clock-Out</a>
            {% else %}
                <a href="/time" class="nav-item text-white" style="padding:5px 15px 5px 15px;">Clock-In</a>
            {% endif %}
            <a href="/calendar" class="nav-item text-white" style="padding:5px 15px 5px 15px;">Calendar</a>
            <a href="/admin-login" class="nav-item text-white" style="padding:5px 15px 5px 15px;">Admin</a>
            <a href="/about" class="nav-item text-white" style="padding:5px 15px 5px 15px;">About</a>
            <a href="/logout" class="nav-item text-white" style="padding:5px 15px 5px 15px;">Log Out</a>
        {% else %}
            <a href="/login" class="nav-item text-white" style="padding:5px 15px 5px 15px;">Login</a>
            <a href="/about" class="nav-item text-white" style="padding:5px 15px 5px 15px;">About</a>
        {% endif %}
    </nav>
    <div class="container col-5 text-center">
        <br>
        <div class="col-md">
            <h1>Update Product</h1>
            <form method="POST" enctype="multipart/form-data">
                <br>
                <div class="form-label-group">
                    <input class="form-control" type="text" name="name-input" value="{{ product.name }}">
                </div>
                <br>
                <div class="form-label-group">
                    <input class="form-control" type="text" name="manufacturer-input" value="{{ product.manufacturer }}">
                </div>
                <br>
                <div class="form-label-group">
                    <input class="form-control" type="number" name="quantity-input" value="{{ product.quantity }}">
                </div>
                <br>
                <div class="form-label-group">
                    <input class="form-control" type="number" name="notify-input" placeholder="Amount for Low Quantity Notification" value="{{ product.notify_minimum }}">
                </div>
                <br>
                <div class="custom-file">
                    <input class="customfile-input" name="files" type="file" id="image-input">
                    <label class="custom-file-label text-left" for="image-input">Choose File (Optional)</label>
                </div>
                <br><br>
                <input class="btn btn-lg btn-primary" type="submit" value="Update">
            </form>
        </div>
    </div>
    <script>
        $('input[type="file"]').change(function(e){
            $('.custom-file-label').html(e.target.files[0].name);
        });
    </script>
</body>
</html>
